<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <div class="okta-header">
                <img src="img/logo.png"/>
            </div>
            
            <h1>Welcome to the admin page!</h1>

            <a href="/" class="btn btn-primary">Go Home</a>

        </div>
    </div>
</div>
</body>
</html>