<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="box col-md-6 col-md-offset-3">
            <div class="okta-header">
                <img src="img/logo.png"/>
            </div>

            <!--/* displayed if account IS NOT null, indicating that the user IS logged in */-->
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <h1 th:inline="text">Hello, <span th:text="${#authentication.name}"></span>!</h1>
                <a href="/restricted" class="btn btn-primary">Restricted</a>
            </div>

            <!--/* displayed if account IS null, indicating that the user IS NOT logged in */-->
            <div th:unless="${#authorization.expression('isAuthenticated()')}">
                <h1>Who are you?</h1>
                <a href="/restricted" class="btn btn-primary">Restricted</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>